
  main{
    background: #F0DAC0;
    grid-area: main;
    border: 1px solid gray;
    padding: 2px;
    text-align: center;
    text-transform: capitalize;
    color: #3a1e11;
    }


    main img{
      width:95px;
      height:95px; 
      float: right ;
       padding: 4px;
    }
    
    .cont {
      margin: 20px;
    }


    #con{
       background: #F6A970;
       grid-area: con;
       padding: 8px;
       border:7px solid gray;
       text-align: center;
    }
    
    
    .grid-nested{
      display:flex;
      flex-wrap: wrap;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      grid-gap: 20px;
      height: 60%;
    }
    
    
    
    
   
    .grid-nested a:link, a:visited {
      background-color:  #F6A970;
      color: white;
      font-size: 17px;
      padding: 14px 25px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
    }
    
    .grid-nested a:hover, a:active {
      background-color: #f89346;
    }
   
    
